*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;

}

section{
    /*padding-top: 60px;
    margin-top: -190px;*/

}



/**
contentBanner


**/


.contentBanner .caption {
    /* float: left;
       width: 35%;
        padding: 5%;
        text-align: center;
        font-family: Arial, sans-serif;*/
    font-family: "Open Sans", sans-serif;
    /*font-style: oblique 90deg;*/
    font-size: 14px;
    line-height: 20px;
    margin-right: 0px;
    text-align: center;
    background-color: #a6abcb !important;
    width: 80vh/*35%*/;
    position: relative;
    top: -60vh;
    padding: 10px;
    z-index: 2;
}

.contentBanner .caption :first-child {
    font-size: large;
    font-size: 2rem;
    font-style: oblique;
    font-size: large;
    font-variant: small-caps;
}











/****************************************************
navbar
*/
.info-top{
    padding: 10px;
    background-color: #a6abcb;
    display: flex;
    height: 40px;
    justify-content: space-between;
}
.info-top .btn-sign-up-in  a {
    text-decoration: none;
    color: black;
}
.info-top .btn-sign-up-in  a:hover{
    cursor: pointer;
    color: wheat;
}




.content{
    max-width:1250px;
    margin: auto;
    padding: 0px 30px;
}
.navbar{
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 70px;
    padding: 2px 0;
    background: #fafafa;
    transition: all 0.3s ease;
}

.navbar.sticky{
    background: #4363ac;
    margin-top: -40px;
}
.navbar.sticky .icon{
    color: #fff;

}
.navbar .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .menu-list{
    display: inline-flex;
}
.navbar .logo img{
    width: 120px;
    height: 60px;

}


.menu-list li{
    list-style: none;
}
.menu-list li a{
    color :#0b0b51;
    font-size:18px ;
    font-weight: 500;
    margin-left: 25px;           
    transition: all 0.3s case;
    text-decoration: none;

}
.navbar.sticky .menu-list li a:hover{
    color: crimson;
}
.menu-list li a:hover{
    color: #4363ac;
}
.banner{
    height: 100vh;
    background:url("./../images/background/elearning.png") no-repeat;
    background-size: cover;
    background-position:right;
    background-attachment: fixed;
    background-color: #a6abcb;
}
.about{
    padding:40px 0 ;
}
.about .title{
    font-size:35px;
    font-weight: 700;
}
.about p{
    padding-top:20px ;
    text-align: justify;
}
.icon {
    color: #4363ac;
    font-size: 20px;
    cursor: pointer;
    display: none;
}
.icon.cancel-btn{
    position: absolute;
    right: 30px;
    top:20px;
    color: #fff;
}
@media (max-width:863px){
    body.disabledScroll{
        overflow: hidden;
    }
    .icon{
        display: block;
    } 
    
    .icon.hide{
        display: none;
    }
    .navbar .menu-list{
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: 40%;
        max-width: 460px;
        background: #4363ac;
        display:block ;
        padding: 40px 0;
        text-align: center;
        transition: all 0.3s ease;
    }
    .menu-list li a{
        color :#fff;
    }
    .menu-list li a:hover{
    color: crimson;
}
    .navbar .menu-list.show{
        right: 0%;
    }
    .navbar .menu-list li{
        margin-top:45px ;

    }
    .navbar .menu-list li a{
        font-size: 23px;
    }
    
}
/***

**/
.Popular-Program h1{
    text-align: center;
    font-weight: 800;
}


/****
Card
***/

.card {
    width: 18rem;

    text-align: center;

    /*width: 14rem;*/
    background-color: #f7eded;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    border: 0;
    border-radius: 1rem;
    margin:10px;

}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06)
}

.card h5 {
    overflow: hidden;
    height: 56px;
    font-weight: 900;
    font-size: 1rem
}

.card-img-top {
    width: 100%;
    max-height: 15rem;
    object-fit: cover;
    padding: 20px
}
.card-body{
    padding: 20px
}
.card h2 {
    font-size: 1rem;
    text-align: center;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}


@media (max-width: 768px) {
    .card-img-top {
        max-height: 250px
    }
}

@media (max-width: 1023px) {
    .card h1 {
        padding: 12px 20px;
    }
    .card {
        width: 24rem;
    }
}
@media (max-width: 1250) {
    .card {
        width: 24rem;
    }

}



/***

    footer

***/
.footer {
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    color: #fff;
    background-color: #4363ac;
  }
  
  .footer > * {
    flex: 1 100%;
  }
  
  .l-footer {
    margin-right: 1.25em;
    margin-bottom: 2em;
  }
  
  .footer h2 {
    font-weight: 400;
    font-size: 15px;
  }
  
  .footer ul {
    list-style: none;
    padding-left: 0;
  }
  
  .footer li {
    line-height: 2em;
  }
  
  .footer a {
    text-decoration: none;
  }
  
  .r-footer {
    display: flex;
    flex-flow: row wrap;
  }
  
  .r-footer > * {
    flex: 1 50%;
    margin-right: 1.25em;
  }
  
  .footer .box a {
    color: rgb(196, 175, 175);
  }
  
  .footer .h-box {
    column-count: 2;
    column-gap: 1.25em;
  }
  
  .footer .b-footer {
    text-align: center;
    color: #999;
    padding-top: 50px;
  }
  
  .l-footer p {
    padding-right: 20%;
    color: #999;
  }
  
  .footer .socials a {
    background: #364a62;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 10px;
  }
  
  .footer .socials a i {
    color: #e7f2f4;
    padding: 10px 12px;
    font-size: 20px;
  }
  
  @media screen and (min-width: 600px) {
    .r-footer > * {
      flex: 1;
    }
  
    .footer .features {
      flex-grow: 2;
    }
  
    .l-footer {
      flex: 1 0px;
    }
  
    .r-footer {
      flex: 2 0px;
    }
  }
  